#!/bin/sh
export SECRET_KEY_BASE={{SECRET_KEY_BASE}}
export RAILS_ENV=production
export RAILS_LOG_TO_STDOUT=1
export DB_HOST={{DB_HOST}}
export DB_PORT=5432
export DB_NAME={{DB_NAME}}
export DB_USER={{DB_USER}}
export DB_PASSWORD={{DB_PASSWORD}}
export PATH=/opt/rh/rh-ruby26/root/usr/local/bin:/opt/rh/rh-ruby26/root/usr/bin${PATH:+:${PATH}}
export LD_LIBRARY_PATH=/opt/rh/rh-ruby26/root/usr/local/lib64:/opt/rh/rh-ruby26/root/usr/lib64${LD_LIBRARY_PATH:+:${LD_LIBRARY_PATH}}
export MANPATH=/opt/rh/rh-ruby26/root/usr/local/share/man:/opt/rh/rh-ruby26/root/usr/share/man:$MANPATH
export PKG_CONFIG_PATH=/opt/rh/rh-ruby26/root/usr/local/lib64/pkgconfig:/opt/rh/rh-ruby26/root/usr/lib64/pkgconfig${PKG_CONFIG_PATH:+:${PKG_CONFIG_PATH}}
export XDG_DATA_DIRS=/opt/rh/rh-ruby26/root/usr/local/share:/opt/rh/rh-ruby26/root/usr/share:${XDG_DATA_DIRS:-/usr/local/share:/usr/share}
./bin/bundle exec puma -b unix:///var/run/puma.sock -e $RAILS_ENV config.ru